
// Define tus colores personalizados
$primary: #ff7900; // Naranja
$secondary: #555555; // Gris
$dark: #000000; // Negro
$white: #ffffff; // Blanco

// Sobrescribe variables de Boosted y Bootstrap
/* $bs-primary: $primary;
$bs-secondary: $secondary;
$bs-dark: $dark;
$bs-white: $white; */
