// Variables personalizadas
@use './variables' as *;

// Importa Boosted
@use 'boosted/scss/boosted';

// Estilos globales
body {
    font-family: var(--bs-body-font-family);
    margin: 0;
    padding: 0;
    background-color: var(--bs-body-bg);
}
